<h2>My Friends</h2>

<div>
  <label>Friend name:
    <input #friendName />
  </label>
  <button (click)="add(friendName.value); friendName.value=''">
    add
  </button>
</div>

<ul class="friends">
  <li *ngFor="let friend of friends">
    <a routerLink="/detail/{{friend.id}}">
      <span class = "badge">{{friend.id}}</span> {{friend.name}}
    </a>
    <button class="delete" title="delete friend"
      (click)="delete(friend)">
      x
    </button>
  </li>
</ul>

  <!-- <app-friend-detail [friend]="selectedFriend"></app-friend-detail> -->
